# Backend
backend/trackquet.db
backend/trackquet-server
backend/.env
backend/*.out
backend/coverage
backend/cov_handlers

# Frontend
frontend/.env
frontend/node_modules/
frontend/dist/

# Docker
.DS_Store
